nav {
  min-width: 60px;
  .wrapper {
    padding: 0 4rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.3s ease-in-out;
    position: relative;
    .brand {
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2rem 0;
        height: 3rem;
        width: 3rem;
        color: var(--theme-color);
        transition: 0.3s ease-in-out;
        cursor: pointer;
        outline: 2px dashed transparent;
        &:hover {
          fill: #64dad91a;
        }
        &:focus {
          outline-color: var(--theme-color);
          fill: #64dad91a;
        }
      }
    }
    .nav-items{
      display: flex;
      gap: 3rem;
      &-list{
        display: flex;
        gap: 3rem;
        list-style-type: none;
        color: var(--lighest-slate);
        font-size: var(--tsm1);
        counter-reset: nav-list;
        &-item{
          a{
            color: inherit;
            text-decoration: none;
            padding: 10px;
            &::before{
              counter-increment: nav-list;
              content: "0" counter(nav-list) ".";
              color: var(--theme-color);
            }
          }
        }
      }

    }
  }
}
